.go {
    padding: 20px 0;
    text-align: center;
}
.go a {
    background: yellow;
    border: 1px solid black;
    display: inline-block;
    padding: 6px 20px;
}
p:nth-of-type(2n) {
    color: white;
    background: black;
}
p:nth-of-type(2n+1) {
    background: yellow;
}
